@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');

:root {

    --color3: #f5a20a;
}

body {
    color: white;
    margin: 0;
    background-color: rgb(16, 7, 30);
    font-family: "Preahvihear", sans-serif;
}
h1 {
    margin-top: 30px;
}
h1,
h2 {
    font-size: 50px;
    margin: 0;
}

h3 {
    font-size: 40px;
}

h5 {
    font-size: 25px;
}

p {
    font-size: 18px;
    margin: 0;
}









header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#00747E, #112f36, #001211);
    padding: 8px 15%;
    align-items: center;
}

header nav ul {
    width: 25vw;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--color3);
}

header img {
    height: 39px;

}

main {
    margin: 5% 15%;

}

.introduction-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.introduction {
    position: relative;
}
.avatar-container {
    position: relative;
}

.avatar-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    background-color: #763cac;
    border-radius: 50%;
    filter: blur(60px);
    z-index: -1;
    opacity: 0.7;
}

.introduction>p {
    position: absolute;
    top: -60px;
    left: 240px;
    width: 200px;
}

.introduction>p>span {
    color: #7127BA;
}


.arrow {
    position: absolute;
    top: -80px;
    left: 130px;
}

span {
    color: #7127BA;
}

.introduction-text {
    line-height: 1.35;
}

.text-underline {
    text-decoration: underline;
}

.slogan {
    width: 20vw;
}

.slogan span {
    background-image: url(./images/ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1 !important;
}

.cover-text {
    font-size: 11px;
}

.bio>p {
    font-size: 22px;
}

.job {
    display: flex;
    align-items: center;
}

.job a {
    text-decoration: none;
    color: #1877F2;
}

.job-description {
    margin-top: 70px;
    width: 85%;
}

#experience-section h3 {
    margin: 170px 0 44px 0;
}




#compagn {
    color: #A362FF;

}








